<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:fragment="head_entries">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Princess+Sofia&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
    </th:block>
    <title>Blue Tarot</title>
</head>

<body>
<header th:fragment="header">
    <h1>
        <a th:href="@{/}">
            Blue Tarot
        </a>
    </h1>

</header>

<nav th:fragment="aside">
    <ul>
        <li><a href="/all-cards/card-list">All Cards</a></li>
    </ul>
</nav>

<div th:fragment="arcana-display" class="arcana-display">
    <section class="major">
        <section>
            <h3><a href="/all-cards/major-arcana">Major Arkana</a></h3>
        </section>
        <div>
<!--            <ul>-->
<!--                <li th:each="card : ${majorArcana}">-->
<!--                    <a th:href="@{/all-cards/{cardName}(cardName=${card.name})}" th:text="${card.name}"></a>-->
<!--                </li>-->
<!--            </ul>-->

            <ul>
                <li th:each="card : ${majorArcana}">
                    <a th:href="@{/all-cards/{cardName}(cardName=${card.nameShort})}"
                       th:text="${card.name}"></a>
                </li>
            </ul>

            <p>¯\_( ఠ ͟ʖ ఠ)_/¯ ...</p>

        </div>
    </section>

    <section class="minor">
        <section>
            <h3><a href="/all-cards/minor-arcana">Minor Arkana</a></h3>
        </section>
        <div>
            <ul>
                <li th:each="card : ${minorArcana}">
                    <a th:href="@{/all-cards/{cardName}(cardName=${card.nameShort})}"
                       th:text="${card.name}"></a>
                </li>
            </ul>
        </div>
    </section>
</div>

<th:block th:fragment="footer_entries">
    <script src="/static/js/functions.js"></script> <!-- Hier im Footer -->
</th:block>

</body>
</html>