:root {
    --middleOfTheNight: #030b21;
    --darkBlue: #0f1d4c;
    --mediumDarkBlue: #15235a;
    --pigeonBlue: #6687bb;
    --turquoise: #37e5aa;
    --lightBlue: #0fffff;
    --ice: #ADE9FF;
    --almostWhite: #fefefe;
    --bubblegumPink: #FF0099;
    --lighterPurple: #aa64ff;
    --darkerPurple: #8000ff;
    --saturatedBlue: #0016b8;
}

* {
    box-sizing: border-box;
}

body {
    background-repeat: repeat;
    background-color: var(--darkBlue);
    margin: 0;
    padding: 0 0 2rem 0;
    font-family: "Ysabeau", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: var(--ice);
}

header {
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
    background-color: var(--middleOfTheNight);
    margin-bottom: 1rem;
    padding: 0 8%;
    width: 100%;
    height: fit-content;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    margin: 1rem;
    padding: 0;
}

main {
    display: grid;
    justify-items: center;
    width: 80%;
    margin: 0;
    padding: 0 2rem;
    background-color: #0f1d4c;
    border-radius: 30px;
}

.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 95%;
    margin-bottom: 3rem;
}

.card-list-single { /* Einzelkarten-Ansicht in Liste */
    padding: 0 2rem;
    background-color: var(--mediumDarkBlue);
    text-align: center;
    border-radius: 30px;
}

.card-list-single p {
    text-align: justify;
}

.card-list-single summary {
    margin: 1rem 0;
    text-align: left;
    font-weight: bold;
}

.card-list-single img {
    background-color: var(--almostWhite);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--middleOfTheNight);
    filter: drop-shadow(1px 1px 3px var(--middleOfTheNight));
}

.daily-card-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: transparent;
    margin: 2.5rem 0.8rem 2rem 0.8rem;
    border-radius: 30px;
}

.daily-card-container button {
    width: 70%;
    padding: 1rem 3rem;
    font-family: "Princess Sofia", cursive;
    font-size: 2rem;
    border: 2px solid var(--lighterPurple);
    border-radius: 30px;
    background-image: radial-gradient(100% 100% at 100% 0, var(--darkerPurple) 0, var(--saturatedBlue) 100%);
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    color: var(--almostWhite);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

#draw-card-btn {
    text-shadow: 0 0 10px var(--bubblegumPink), 0 0 4px var(--almostWhite); /* x-offset y-offset blur-radius color; */
    color: var(--ice);
}

.small-draw-card-btn {
    letter-spacing: 2px;
    width: 70%;
    padding: 0.5rem 1.5rem;
    font-family: "Princess Sofia", cursive;
    font-size: 1.5rem;
    border: 2px solid var(--lighterPurple);
    border-radius: 30px;
    background-image: radial-gradient(100% 100% at 100% 0, var(--darkerPurple) 0, var(--saturatedBlue) 100%);
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    color: var(--almostWhite);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    text-shadow: 0 0 10px var(--bubblegumPink), 0 0 4px var(--almostWhite); /* x-offset y-offset blur-radius color; */
}

.daily-card-container button:hover, .small-draw-card-btn:hover {
    box-shadow: 0 0 20px rgba(84, 104, 255, 0.6);
    border-color: var(--lightBlue);
    background-image: radial-gradient(100% 100% at 100% 0, var(--saturatedBlue) 0, var(--darkerPurple) 100%);
    text-shadow: 0 0 10px var(--almostWhite), 0 0 4px var(--lightBlue);
    color: #fff;
}

.daily-card-container button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 70%);
    pointer-events: none;
}

.daily-card-container#daily-card {
    flex-direction: column;
    align-items: center;
}

img.card {
    background-color: var(--almostWhite);
    padding: 5px;
    border-radius: 10px;
}

p.prediction {
    background-color: var(--pigeonBlue);
    color: var(--middleOfTheNight);
    font-weight: bolder;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.daily-card-container {
    background: rgb(33,135,194);
    background: radial-gradient(circle, rgba(33,135,194,1) 0%, rgba(15,29,76,1) 61%);
    background-position: center top;
    background-size: cover;
    width: fit-content;
}

img.glowing {
    box-shadow: 0 0 20px rgba(84, 104, 255, 0.6);
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    width: 100%;
    background-color: var(--mediumDarkBlue);
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 20px;
}

.three-card-teaser {
    background-image: url('../img/reading.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 35%;
    height: 500px;
    filter: hue-rotate(20deg);
    margin: 1rem 0;
    border-radius: 30px;
    align-content: end;
    text-align: center;
    padding: 2rem;
}

/* Daily Card visibility */
.invisible {
    display: none;
    opacity: 0;
}

/* Containers */
.arcana-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

section.major,
section.minor {
    font-size: smaller;
}

section.major h3,
section.minor h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

section.major ul,
section.minor ul {
    margin: 0.2rem 1rem 0.2rem -25px;
    gap: 0.5rem;
}

section.major ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.minor ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.major ul li,
section.minor ul li {
    list-style-type: '※';
    padding-left: 0.5rem;
    margin-right: 1rem;
}

.detail-view {
    display: grid;
    justify-items: center;
    width: 80%;
    text-align: justify;
}

.detail-view .card-meanings {
    display: block;
}

/* Past, Present & Future reading */
.past-present-future {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.past-present-future > section {
    text-align: center;
}

.past-present-future p {
    text-align: justify;
}
/* Text styles */

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

h1, h1 a, h1 a:visited {
    font-family: "Princess Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 1.4rem;
    color: var(--turquoise);
    text-shadow:
            0 0 10px var(--turquoise),
            0 0 4px var(--darkBlue);
    animation: softGlitter 3s infinite;
    transition: all 0.4s ease-in-out;
   }

h1:hover,
h1 a:hover {
    color: gold;
    text-shadow:
            0 0 15px var(--lightBlue),
            0 0 25px var(--turquoise),
            0 0 10px var(--pigeonBlue);
    animation: hoverGlow 2s infinite alternate;
}

/* Keyframes für Leuchten */
@keyframes softGlitter {
    0% { text-shadow: 0 0 10px var(--turquoise), 0 0 4px var(--darkBlue); }
    33% { text-shadow: 0 0 12px var(--ice), 0 0 6px var(--mediumDarkBlue); }
    66% { text-shadow: 0 0 14px var(--bubblegumPink), 0 0 8px var(--darkBlue); }
    100% { text-shadow: 0 0 10px var(--turquoise), 0 0 4px var(--darkBlue); }
}

/* Keyframes für Leuchten beim Hover */
@keyframes hoverGlow {
    0% { text-shadow: 0 0 15px orangered, 0 0 25px orange; }
    100% { text-shadow: 0 0 20px goldenrod, 0 0 30px var(--bubblegumPink); }
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

h3.cardname {
    font-family: "Princess Sofia", cursive;
}

h4 {
    font-size: 1.25rem;
}

a, a:visited, a:active, a:hover {
    text-decoration: none;
    color: var(--turquoise);
}

/* Other */
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: hue-rotate(5deg) saturate(4) brightness(80%) blur(7px);
}

    button#toTopBtn {
        display: none;
        position: fixed;
        bottom: 50px;
        right: 50px;
        z-index: 99;
        font-size: 40px;
        border: none;
        outline: none;
        background-color: var(--darkerPurple);
        color: var(--ice);
        cursor: pointer;
        padding: 20px 30px 30px 30px;
        border-radius: 20px;
        opacity: 0.7;
    }

    #toTopBtn:hover {
        transition: ease 1s;
        background-color: var(--lighterPurple);
        box-shadow: 0 0 20px rgba(84, 104, 255, 0.6);
        border-color: var(--lightBlue);
        color: var(--almostWhite);
}

