<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/base_template :: head_entries}"/>
    <title>Blue Tarot | All Cards</title>
</head>
<body>
<header th:replace="~{fragments/base_template :: header}"></header>

<div class="content-wrapper">


    <main>

        <h2>Card details</h2>

        <section class="detail-view">
            <h3 th:text="${tarotCard.name}"></h3>

            <!-- nameShort=: Gibt an, welcher Platzhalter ersetzt werden soll -->
            <!-- ${tarotCard.nameShort}: Ist der Wert, der in den Platzhalter eingefügt wird-->
            <!-- Beispiel:  tarotCard.nameShort = "wakn" > /img/RiderWaiteTarotImages/wakn.jpg -->
            <img th:src="@{/img/RiderWaiteTarotImages/{nameShort}.jpg(nameShort=${tarotCard.nameShort})}"
                 th:alt="'Image of ' + ${tarotCard.name}" class="card"/>

            <section class="card-meanings">
                <h4>Description</h4>
                <span th:text="${tarotCard.desc}"></span>

                <p>
                    <b>Upright meaning</b><br>
                    <span th:text="${tarotCard.meaningUp}"></span>
                </p>

                <p>
                    <b>Reverse meaning</b><br>
                    <span th:text="${tarotCard.meaningRev}"></span>
                </p>
            </section>

            <p><a href="/all-cards/card-list" class="button">See All Cards</a></p>
        </section>
    </main>
</div>

<video autoplay muted loop id="myVideo">
    <source src="https://cdn.pixabay.com/video/2024/07/07/219968_large.mp4" type="video/mp4">
</video>


</body>
</html>