<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/base_template :: head_entries}"/>
    <title>Blue Tarot | All Cards</title>
</head>
<body>
<header th:replace="~{fragments/base_template :: header}"></header>

<div class="content-wrapper">

    <nav th:replace="~{fragments/base_template :: aside}"></nav>

    <main>
       
        <h2>Card details</h2>
        <h3 th:text="${tarotCard.name}"></h3>

        <h4>Description</h4>
        <p th:text="${tarotCard.desc}"></p>

        <p>
        <b>Upright meaning</b><br>
        <span th:text="${tarotCard.meaningUp}"></span>
        </p>

        <p>
        <b>Reverse meaning</b><br>
        <span th:text="${tarotCard.meaningRev}"></span>
        </p>

        <a href="/all-cards/card-list" class="button">Back to All Cards


    </main>

</div>

</body>
</html>