<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/base_template :: head_entries}"/>
    <title>Blue Tarot | All Cards</title>
</head>
<body>
<header th:replace="~{fragments/base_template :: header}"></header>

<div class="content-wrapper">

    <main>
        <h2>All Tarot Cards</h2>
        <!--List of all Cards-->
        <div class="card-list">
        <div th:each="card : ${cards}" class="card-list-single">
            <div class="card-wrapper">
                <h3 th:text="${card.value} + ': ' + ${card.name}"></h3>
                <img th:src="@{/img/RiderWaiteTarotImages/{nameShort}.jpg(nameShort=${card.nameShort})}" alt="Image of ${tarotCard.name}" class="card"/>

                <p>
                    <b>Upright meaning</b><br>
                    <span th:text="${card.meaningUp}"></span>
                </p>
                <p>
                    <b>Reverse meaning</b><br>
                    <span th:text="${card.meaningRev}"></span>
                </p>

                <details>
                    <summary>Detailed Description</summary>
                    <p th:text="${card.desc}"></p> <!-- Beschreibung der Karte -->
                </details>

            </div>
        </div>
        </div>
    </main>
</div>

<video autoplay muted loop id="myVideo">
    <source src="https://cdn.pixabay.com/video/2024/07/07/219968_large.mp4" type="video/mp4">
</video>

</body>
</html>