<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/base_template :: head_entries}"/>
    <title>Blue Tarot | Home</title>
</head>

<body>
<header th:replace="~{fragments/base_template :: header}"></header>

<div class="content-wrapper">

    <main>

        <div class="daily-card-container">
            <h2>Your Daily Card</h2>
            <div id="teaser" class="teaser">
            <img src="/img/card-back.png" alt="Tarot cards back" id="card-back" />
            <button id="draw-card-btn" onclick="hideStuff()">Draw a Card</button>
            </div>
            <div id="daily-card"></div>
        </div>

        <div class="card-container">
        <p><a href="/all-cards/card-list">All Cards</a></p>
        <section th:replace="~{fragments/base_template :: arcana-display}"></section>
        </div>
    </main>
</div>

<script>
    document.getElementById("draw-card-btn").addEventListener("click", async() => {
        try {
            const response = await fetch("/draw-daily-card"); // Endpunkt
            if (!response.ok) { // Ist die Antwort nicht OK?
                throw new Error('This is not ok.');
            }
            const card = await response.json(); // Erwartet JSON-Daten

            const dailyCardDiv = document.getElementById("daily-card");
            dailyCardDiv.innerHTML = `
            <h3>${card.name}</h3>
            <img src="${card.imageUrl}" alt="Image of ${card.name}" class="glowing"/>
            <p><strong>Meaning: </strong>
            <span th:text="${card.meaningUp}"></span> <br>
            <span>${card.meaningUp}</span>
            </p>
        `;

            /* Elemente verstecken */
            hideStuff()

        } catch (error) {
            console.error(`Error: `, error);
            alert("There was a problem loading your card. A truly bad omen...")
        }
    });

    /* Make stuff in/visible */
    function hideStuff() {
        const container = document.querySelector(".teaser");
        container.classList.add("invisible")
    }
</script>
</body>
</html>