<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/base_template :: head_entries}"/>
    <title>Blue Tarot | Minor Arcana</title>
</head>
<body>
<header th:replace="~{fragments/base_template :: header}"></header>

<div class="content-wrapper">

    <nav th:replace="~{fragments/base_template :: aside}"></nav>

    <main>
<!--List of all Cards-->
        <h2>The Minor Arcana</h2>
        <div th:each="card : ${minorArcana}">
            <h3 th:text="${card.value} + ' ' + ${card.name}"></h3>
            <p th:text="${card.meaningUp}"></p>
        </div>

    </main>

</div>

</body>
</html>