<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/base_template :: head_entries}"/>
    <title>Blue Tarot | All Cards</title>
</head>
<body>
<header th:replace="~{fragments/base_template :: header}"></header>

<div class="content-wrapper">


    <main>

        <div>
            <h2>Past, Present & Future</h2>
            <div class="past-present-future">
                <section th:each="card, stat : ${threeCards}">
                    <!-- Überschrift abhängig von der Position -->
                    <h3 th:if="${stat.index == 0}">Past</h3>
                    <h3 th:if="${stat.index == 1}">Present</h3>
                    <h3 th:if="${stat.index == 2}">Future</h3>

                    <!-- Karteninformationen -->
                    <img th:src="@{/img/RiderWaiteTarotImages/{nameShort}.jpg(nameShort=${card.nameShort})}"
                         th:alt="${card.name}" class="glowing card"/>
                    <p th:text="${card.customMeaningUp ?: 'Standard Meaning'}" class="prediction"></p>
                    <p th:text="${card.meaningUp}"></p>
                </section>
            </div>
        </div>

    </main>
</div>

<video autoplay muted loop id="myVideo">
    <source src="https://cdn.pixabay.com/video/2024/07/07/219968_large.mp4" type="video/mp4">
</video>


</body>
</html>